@charset "utf-8";
/* CSS Document */
header {
	background-color: cadetblue;
	padding-bottom: 2px;
}
header div {
	float: right;
	margin-right: 8px;
}
header div span {
	margin: 2px;
}
header div a {
	color:#333;
}
header div a:hover {
	color:#000;
}
