{% extends "base.html" %}

{% block title %}注册成功！{% endblock %}

{% block morelink %}
<link href="../static/css-source/success1.css" rel="stylesheet" type="text/css">  <!--企业注册成功页面css文件-->
{% endblock %}


{% block header %}
<!--头部返回主页-->
	<header class="container-fluid"> 
		<div>
			<span>&nbsp;</span>
		</div>
	</header>
{% endblock %}

{% block classtitle %}{% endblock %}

{% block content %}
	
<!--注册成功信息-->
	<section class="col-sm-8 col-sm-offset-2 text-center" id="success">
		<h1>恭喜您，注册成功！</h1>
		<h4>为了使您的公司更好地吸引人才，请您登陆并完善您的公司信息。</h4>
		<div id="choice">
			<a href="{{ url_for('login') }}"><button class="btn btn-default">登陆并完善公司信息</button></a>
		</div>
	</section>

{% endblock %}

{% block height %}500{% endblock %}
